body::before {
    display: block;
    content: '';
    height: 56px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.h-suntitle {
    font-size: 5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}


.h-suntitle strong {
    color: #316cf5;
}


/* 字体图标 */
.nav-dribble{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dribble:last-child{
    margin-left: 1rem;
}

.dribble {

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 6px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.fab {
    font-family: 'icomoon';
}

.fa-dribbble::after {
    content: "\eaa7";
}

.icon-behance::after {
    content: "\e900";
}

.icon-github::after {
    content: "\eab0";
}